openapi: 3.1.0
info:
  title: Tray.io Platform Authentications Connectors API
  description: The Tray.io Platform API (also known as the Connectivity API) provides direct programmatic REST access to Tray's connectors, authentication management, trigger subscriptions, user and workspace administration, and project/solution lifecycle operations. Enables developers to integrate Tray's 700+ pre-built service connectors into their own applications without using the Builder UI. All endpoints require Bearer token authentication.
  version: 1.0.0
  contact:
    name: Tray.io Support
    url: https://tray.ai
  termsOfService: https://tray.ai/terms
  license:
    name: Proprietary
    url: https://tray.ai/terms
servers:
- url: https://api.tray.io/core/v1
  description: US Region (Default)
- url: https://api.eu1.tray.io/core/v1
  description: EU Region
security:
- bearerAuth: []
tags:
- name: Connectors
  description: List available connectors and their operations, and call connector operations to interact with third-party services programmatically.
paths:
  /connectors:
    get:
      operationId: listConnectors
      summary: List Connectors
      description: Returns a list of all available connectors from Tray's connector library. Each connector exposes the API operations of a third-party service and can have multiple versions.
      tags:
      - Connectors
      responses:
        '200':
          description: List of connectors returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connector'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /connectors/{connectorName}/versions/{connectorVersion}:
    get:
      operationId: getConnectorVersion
      summary: Get Connector Version
      description: Retrieves details of a specific connector version, including its available operations, input schemas, and output schemas.
      tags:
      - Connectors
      parameters:
      - name: connectorName
        in: path
        required: true
        schema:
          type: string
        description: The name of the connector (e.g., salesforce, slack)
      - name: connectorVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the connector (e.g., 2.1)
      responses:
        '200':
          description: Connector version details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorVersion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Connector or version not found
  /connectors/{connectorName}/versions/{connectorVersion}/call:
    post:
      operationId: callConnector
      summary: Call Connector
      description: Executes an operation of a connector and returns the result. Billable endpoint. The input must conform to the input schema of the specified operation. Requires an authId for most operations.
      tags:
      - Connectors
      parameters:
      - name: connectorName
        in: path
        required: true
        schema:
          type: string
        description: The name of the connector
      - name: connectorVersion
        in: path
        required: true
        schema:
          type: string
        description: The version of the connector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallConnectorRequest'
      responses:
        '200':
          description: Connector operation executed successfully
          content:
            application/json:
              schema:
                type: object
                description: Output from the connector operation. Structure varies by connector.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        description:
          type: string
        inputSchema:
          type: object
        outputSchema:
          type: object
    ConnectorVersion:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        title:
          type: string
        operations:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
    Connector:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        description:
          type: string
        icon:
          type: string
          format: uri
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                type: string
              isLatest:
                type: boolean
    CallConnectorRequest:
      type: object
      required:
      - operation
      properties:
        operation:
          type: string
        authId:
          type: string
        input:
          type: object
  responses:
    Unauthorized:
      description: Authentication failed. Bearer token missing or invalid.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
